body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  background: url('https://cdn.glitch.global/706d91f8-f56f-463d-be4e-df45dbe7dead/InShot_20240608_223126415.jpg?v=1717896698262') no-repeat center center fixed;
  background-size: cover;
  color: #333333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  text-align: center;
  width: 100%;
}

h1 {
  color: #ffffff;
  margin: 0;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#main-content {
  position: relative;
  width: 80%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.script {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.anuncios {
  height: 100px;
  background-color: #eeeeee;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-top: 0;
  color: #333333;
}

pre {
  white-space: pre-wrap;
  overflow-x: auto;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  color: #333333;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #45a049;
}

button.reportar {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button.reportar:hover {
  background-color: #d32f2f;
}

#navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#info-pagina {
  margin: 0 10px;
}

.dialogoBienvenida, .dialogoSoporte {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90%;
}

.contenidoDialogo {
  text-align: center;
}

.btnCerrar {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.notificacion {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  opacity: 0.9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formularioReporte {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 400px;
  max-width: 90%;
}

.formularioReporte textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formularioReporte button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.formularioReporte button:first-child {
  background-color: #4CAF50;
  color: white;
}

.formularioReporte button:last-child {
  background-color: #f44336;
  color: white;
}

#btn-apoyame {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

.dialogoApoyo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenidoDialogo {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.btnCerrar {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dialogoInfo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90%;
}

.dialogoInfo h2 {
  margin-top: 0;
  color: #333333;
}

.dialogoInfo p {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.dialogoInfo .btnCerrar {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.dialogoBypass {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  display: block;
  width: 400px;
  max-width: 90%;
}

.dialogoBypass h2 {
  margin-bottom: 15px;
  color: #333;
}

.dialogoBypass input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dialogoBypass button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dialogoBypass button.btnCerrar {
  background-color: #f44336;
  color: #fff;
}

.dialogoBypass button.btnCerrar:hover {
  background-color: #d32f2f;
}

.dialogoBypass button.btnEnviar {
  background-color: #4CAF50;
  color: #fff;
}

.dialogoBypass button.btnEnviar:hover {
  background-color: #45a049;
}

.dialogoBypass button.btnCopiar {
  background-color: #2196F3;
  color: #fff;
}

.dialogoBypass button.btnCopiar:hover {
  background-color: #1976D2;
}

#btn-bypass-general {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  background-color: #2196F3;
  color: white;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#btn-bypass-general:hover {
  background-color: #1976D2;
}

#btn-bypass-linkvertise {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  background-color: #2196F3;
  color: white;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#btn-bypass-linkvertise:hover {
  background-color: #1976D2;
}

#filtros {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#filtros button {
  margin: 0 5px;
}

/* ... tus estilos actuales ... */

#ventana-emergente {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

#ventana-emergente h2 {
  text-align: center;
  margin-bottom: 10px;
}

#ventana-emergente p {
  margin-bottom: 10px;
}

#ventana-emergente button {
  background-color: #4CAF50; /* Puedes cambiar el color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para ocultar la ventana emergente */
.hidden {
  display: none;
}
